:root {
    --width-horizontal: 300px;
    --height-horizontal: 200px;

    --width-vertical: 200px;
    --height-vertical: 300px;
}

.poster-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: auto;
    justify-content: center;
}

.poster-div {
    padding: 15px 15px 15px 15px;
    cursor: pointer;
}

.title-horizontal {
    width: var(--width-horizontal);
    padding: 10px 5px 0px 5px;
    color: white;
    word-wrap: break-word;
}

.title-vertical {
    width: var(--width-vertical);
    padding: 10px 5px 0px 5px;
    color: white;
    word-wrap: break-word;
}

.poster-div:hover {
    text-decoration: none;
    opacity: 0.6;
}

.poster-img-vertical {
    width: var(--width-vertical);
    height: var(--height-vertical);
    object-fit: cover;
}

.poster-img-horizontal {
    width: var(--width-horizontal);
    height: var(--height-horizontal);
    object-fit: cover;
}

.filler1 {
    padding: 15px 15px 15px 15px;
}

.filler2-vertical {
    width: var(--width-vertical);
}

.filler2-horizontal {
    width: var(--width-horizontal);
}

.custom-container {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.custom-container-2 {
    text-align: center;
    justify-content: center;
    margin-top: 80px;
}

@media screen and (max-width: 599px) {
    .custom-container {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .custom-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .custom-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}